body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


.card {
    width: 18rem;
    text-align: justify;
    display: inline-block;
    box-shadow: 0px 0px 6px white;;    
}



footer  {
//  background-color: black;
 color: white;
 position: relative;
 bottom: 0;
 width: 100%;

}

